#root {
  width: 100%;
  margin: 0 ;
  padding: 0;  
}
.read-the-docs {
  color: #656565;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1e1e1;
  color: #e1e1e1;
  line-height: 1.6;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  background: linear-gradient(90deg,#c137a280, #a99ed5);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #007bff;
}

/* Item card */
.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 8px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

.card .title {
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: 500;
  color:black
}

.card .price {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 12px;
  color:black
}

.card button {
  padding: 8px 12px;
  border: none;
  background-color: #4f46e5; /* indigo */
  color: #cb15c2;
  border-radius: 4px;
  cursor: pointer;
}