#root {
  width: 100%;
  margin: 0 ;
  padding: 0;  
}
.read-the-docs {
  color: #656565;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  line-height: 1.6;
  font-family: 'Inter', system-ui, sans-serif
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  background: #f0f0f0;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight:700;
  color: #353535;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar-link {
  color: #353535;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #007bff;
}

/* Item card */
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 8px;
  background-color: f0f0f0;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

.card-footer {
  padding: 8px;
  width: 220px;
}

 .card-footer .title {
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: 500;
  color:black;
  font-family:Arial, Helvetica, sans-serif;
}

.card-footer .price {
  font-size: 1.1rem;
  margin-bottom: 12px;
  color:#303030;
  font-family: Arial, Helvetica, sans-serif;
}

.card-footer .details {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between;
}

 .category {
  font-size:small;
  margin-bottom: 12px;
  color:#303030;
  font-family: Arial, Helvetica, sans-serif;
}
.card button {
  padding: 8px 12px;
  border: none;
  background-color: #4f46e5; /* indigo */
  color: #cb15c2;
  border-radius: 4px;
  cursor: pointer;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

.header-actions {
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.search-bar {
  background-color: #dfdfdf;
  max-width: 190px;
  height: 40px; 
  padding: 10px 20px; 
  border: none;
  border-radius:9999px;
  color:#303030;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.search-bar:focus, .header-actions select:focus {
   border-color: #484848; 
  box-shadow: 0 0 5px rgba(98, 98, 98, 0.5); 
}

.header-actions select, button {
  background-color: #dfdfdf;
  height: 40px; 
  width: 100px;
  padding: 10px; 
  border: none;
  border-radius:9999px;
  color:#303030;
  cursor: pointer;
  font-size: small;
}